$buttonColor: rgb(226, 226, 226);

.title {
	text-align: center;
}

.a {
	color: blue;
}

.sliders {
	width: 300px;
	background-image: url(../images/sliders.jpg);
	background-position: -480px top;
	background-size: 1000px;
	height: 120px;
	background-repeat: no-repeat;
	margin: 20px 0;
}
